html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: hsl(257, 40%, 49%) url("../images/bg-desktop.svg") no-repeat fixed;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(0, 100%, 100%);
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    display: inline;
}

footer {
    height: 6.2rem;
}

header img {
    display: block;
    margin-top: 4rem;
    margin-bottom: 4.5rem;
    width: 13rem;
}

.wrapper {
    padding-left: 4.5rem;
    padding-right: 6rem;
}

.main-left img {
    width: 100%;
}

.main-left {
    float: left;
    max-width: 55%;
}

.main-right {
    float: right;
    max-width: 45%;
    padding-left: 3.125rem;
}

.main-right h1 {
    display: block;
    margin-top: 3rem;
    margin-right: 4.75rem;
}

.main-right p {
    display: block;
    margin-top: 1.5rem;
    line-height: 1.65rem;
    font-size: 1.1rem;
}

.main-right a {
    text-align: center;
    font-size: 1.125rem;
    color: hsl(257, 40%, 49%);
    text-decoration: none;
    padding: 1rem 4rem;
    width: 12.5rem;
    display: block;
    border-radius: 1.875rem;
    background-color: hsl(0, 100%, 100%);
    box-shadow: 2px 7px 5px #4E3B83;
    margin-top: 1.7rem;
}

.main-right a:hover {
    background-color: hsl(300, 69%, 71%);
    color: hsl(0, 100%, 100%);
}

.main:after {
    content: "";
    display: table;
    clear: both;
}

.socials {
    float: right;
}

.socials a:not(:last-child) {
    margin-right: 1rem;
}

.socials li {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid hsl(0, 100%, 100%);
    border-radius: 3.125rem;
}

.socials svg {
    fill: #fff;
    margin: auto;
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.socials li:hover {
    border: 1px solid hsl(300, 69%, 71%);
}

.socials svg:hover {
    fill: hsl(300, 69%, 71%);
}

@media screen and (max-width: 751px) {
    body {
        background: hsl(257, 40%, 49%) url("../images/bg-mobile.svg") no-repeat scroll;
        background-size: contain;
    }

    header img {
        margin: 0;
        margin-top: 4.5rem;
        margin-bottom: 7.125rem;
        max-width: 100%;
        width: 15rem;
    }

    .wrapper {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }

    .main-left, .main-right {
        padding: 0;
        float: none;
        max-width: 100%;
    }

    .main-right h1 {
        text-align: center;
        display: block;
        font-size: 3rem;
        margin-right: 0;
    }

    .main-right p {
        display: block;
        margin-top: 1.5rem;
        line-height: 3rem;
        font-size: 2rem;
        text-align: center;
    }

    .main-right a {
        margin: 0 auto;
        margin-top: 3rem;
        font-size: 1.4rem;
        border-radius: 3rem;
        width: 25rem;
        max-width: 100%;
    }

    footer {
        height: 60px;
        margin-top: 7.8125rem;
        margin-bottom: 5rem;
    }

    .socials {
        float: none;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .socials a {
        display: inline-block;
    }

    .socials li {
        width: 54px;
        height: 54px;
    }

    .socials svg {
        height: 25px;
    }
}

@media screen and (max-width: 375px) {
    body {
        background: hsl(257, 40%, 49%) url("../images/bg-mobile.svg") no-repeat scroll;
        background-size: contain;
    }

    header img {
        margin-top: 35px;
        margin-bottom: 60px;
        padding: 0;
        width: 7.5rem;
    }

    .wrapper {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .main-right h1 {
        font-size: 1.5rem;
        margin-top: 60px;
    }

    .main-right p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .main-right a {
        font-size: 13px;
        padding: 12px 0;
        margin: 28px auto 0 auto;
    }

    footer {
        height: 30px;
        margin-top: 3.75rem;
        margin-bottom: 2rem;
    }

    .socials {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .socials li {
        width: 1.75rem;
        height: 1.75rem;
    }

    .socials svg {
        height: 0.875rem;
    }

    .socials a:not(:last-child) {
        margin-right: 0.625rem;
    }
}